$loro : 'Lora', serif;
$wordcolor:black;
$navfont:30px;
$bcgcolor:rgba(255, 127, 80, 0.206);
$revertsize:230px;

$phone-breakpoint:576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint:992px;
$large-desktop-breakpoint:1200px;
$xxl-large-desktop-breakpoint:1400px;