main{
     width: 100%;
     min-height: 700px;
     #hero{
          width: 100%;
          height: 90vh;
          background-image: url("http://images.soapqueen.com/ShoutOutSoaps/Lux3.jpg");
          background-size: cover;
          background-position: center;
          background-attachment:fixed;
          filter: brightness(0.7);
          .revert{
               @extend %revert-div;
               padding-top: 60px;
               h1{
                    font-size: $revertsize;
                    color: #fffdc3
               }
          }

          p{
               @extend %revert-div;
               font-size: $navfont;
               color: white;
          }
     }

          .forbtn{
               @extend %revert-div;
               margin-top: 40px;
               .button{
                    width: 130px;
                    height: 40px;
                    border-radius: 20px;
                    padding-top: 10px;
                    padding-left: 25px;
                    color: black;
                    background-color: white;
                    &:hover{
                         background-color: red;
                    }
               }
          }
}
.space{
     @extend %space;
     @extend %revert-div
     
}